# Backend
backend/node_modules/
backend/.env
backend/uploads/
backend/*.log

# Flutter
trackpro/.dart_tool/
trackpro/.packages
trackpro/build/
trackpro/.flutter-plugins
trackpro/.flutter-plugins-dependencies

# General
.DS_Store
Thumbs.db
*.log